.depend
.deps
.*.swp
*.m4
*.o
*.tar.gz
/Makefile
/Makefile.in
/cscope.out
/config.status
/config.log
/autom4te.cache/
/compile
/configure
/depcomp
/install-sh
/logrotate
/logrotate.spec
/missing
/test/test.ACL
/test/test.SELINUX
