.depend
.deps
.*.swp
*.m4
*.o
*.tar.gz
Makefile
Makefile.in
/config.log
/config.status
/autom4te.cache/
/compile
/config.c
/configure
/cscope.out
/depcomp
/install-sh
/logrotate
/logrotate.spec
/logrotate.8
/logrotate.c
/missing
/test/test.ACL
/test/test.SELINUX
