.depend
.deps
.*.swp
*.m4
*.o
Makefile.in
cscope.out
/AUTHORS
/ChangeLog
/NEWS
/README
/autom4te.cache/
/compile
/configure
/depcomp
/install-sh
/logrotate
/logrotate.spec
/missing
/test/test.ACL
/test/test.SELINUX
