language: c
compiler:
  - gcc
  - clang
install:
  - sudo add-apt-repository ppa:dns/gnu -y
  - sudo apt-get -qq update
  - sudo apt-get -qq install libpopt-dev libselinux1-dev libacl1-dev automake dash
script:
  - ./autogen.sh
  - ./configure
  - make
  - make test
  - cd test && LOGROTATE=../logrotate /bin/dash test && cd ..
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - logrotate-owner@fedoraproject.org
    on_success: always
    on_failure: always
